<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a
        href="https://buymeacoffee.com/fuence"
        target="_blank"
        class="mx-3"
        aria-label="Support Our Work"
        title="Support Our Work"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
>
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17.78 3.38c-1.72-.86-3.52-.86-5.32 0l-1.14.58-1.14-.58c-1.8-.86-3.6-.86-5.32 0-1.65.83-2.66 2.64-2.66 4.56v7.26c0 1.92 1.01 3.73 2.66 4.56 1.72.86 3.52.86 5.32 0l1.14-.58 1.14.58c1.8.86 3.6.86 5.32 0 1.65-.83 2.66-2.64 2.66-4.56V7.94c0-1.92-1.01-3.73-2.66-4.56zM6 7h12v3H6V7zm0 5h12v3H6v-3z"
            ></path>
        </svg>
    </a>
    <a href="https://www.youtube.com/@Fuence" target="_blank" class="mx-3" aria-label="Youtube" title="Youtube">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
>
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.615 3.184c.77.326 1.377.936 1.702 1.706.913 2.162.913 6.71.913 6.71s0 4.548-.913 6.71c-.325.77-.932 1.38-1.702 1.706-2.156.912-9.615.912-9.615.912s-7.459 0-9.615-.912c-.77-.326-1.377-.936-1.702-1.706C0 16.548 0 12 0 12s0-4.548.913-6.71c.325-.77.932-1.38 1.702-1.706C4.771 2.672 12.23 2.672 12.23 2.672s7.459 0 9.615.912zM9.6 16.364V7.636L16 12l-6.4 4.364z"
            ></path>
        </svg>
    </a>
    <a href="https://twitter.com/fuence4w" target="_blank" class="mx-3" aria-label="Twitter" title="Twitter">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
            ></path>
        </svg>
    </a>
    <a
        href="https://www.twitch.tv/fuence71"
        target="_blank"
        class="mx-3"
        aria-label="Twitch"
        title="Twitch"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
>
            <path
                 d="M2.149 0v2.22l1.465 1.738v16.842h4.44v3.2h3.995l3.2-3.2h4.884l6.657-6.657V0H2.149zm20.582 13.863l-4.44 4.44h-5.553l-3.2 3.2h-3.2v-3.2H3.614V3.614h18.117v10.249zM18.305 7.832h-2.22v6.657h2.22V7.832zm-4.44 0h-2.22v6.657h2.22V7.832z"
            ></path>
        </svg>
    </a>

    <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a>
</div>
